<div class="home__container">
	<app-card
		gameCover="assets/img3.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 119,99"
	>
	</app-card>
	<app-card
		gameCover="assets/img2.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/img1.webp"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/img4.webp"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

